{% extends 'base.html.twig' %}

{% block content %}
    <h1>Home</h1>

    <ul class="list-group">
        {% if app.user %}
            <li class="list-group-item"><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
        {% else %}
            <li class="list-group-item"><a href="{{ path('app_login') }}">Login</a></li>
            <li class="list-group-item"><a href="{{ path('app_register') }}">Register</a></li>
        {% endif %}
    </ul>
{% endblock %}
