{% extends 'base.html.twig' %}

{% block head_stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.24/b-1.7.0/b-html5-1.7.0/date-1.0.3/r-2.2.7/sp-1.2.2/datatables.min.css"/>
{% endblock %}

{% block title %}Time tracking dashboard{% endblock %}

{% block content %}
    <h1>Dashboard!</h1>
    <a class="btn btn-success" href="{{ path('admin_task_new') }}">Create new task</a>
    <br><br>

    <div class="row">
        <div class="col-sm-12">
            <form>
                <div class="row">
                    <div class="col">
                        <label for="fromDate">From</label>
                        <input class="form-control" type="date" id="fromDate">
                    </div>
                    <div class="col">
                        <label for="toDate">To</label>
                        <input class="form-control" type="date" id="toDate">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary" id="filterDate">Filter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <table id="tasks" class="display" style="width:100%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Comment</th>
            <th>Date</th>
            <th>Time spent (in minutes)</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th style="text-align:right">Total:</th>
            <th></th>
        </tr>
        </tfoot>
    </table>
{% endblock %}

{% block footer_javascripts %}
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/dt-1.10.24/b-1.7.0/b-html5-1.7.0/date-1.0.3/r-2.2.7/sp-1.2.2/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            let table = $('#tasks').DataTable({
                pageLength: 20,
                dom: 'Bfrtip',
                buttons: [
                    {extend: 'excelHtml5', footer: true},
                    {extend: 'csvHtml5', footer: true},
                    {extend: 'pdfHtml5', footer: true}
                ],
                ajax: {
                    url: "/api/v1/tasks",
                    data: function (d) {
                        d.from = $('#fromDate').val();
                        d.to = $('#toDate').val();
                    }
                },
                footerCallback: function () {
                    let api = this.api();
                    let total = api
                        .column(4)
                        .data()
                        .reduce(function (a, b) {
                            return a + b;
                        }, 0);

                    $(api.column(4).footer()).html(total);
                }
            });

            $('#filterDate').on('click', function (e) {
                e.preventDefault();
                table.ajax.reload();
            });
        });
    </script>
{% endblock %}